body {
	background: black;
	font-family: "Indie Flower";
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0%;
	width: 200px;
	padding: 2px;
}
.body-left,
.body-right {
	padding: 5px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: rgb(168, 163, 163);
	padding: 0px 25px;
	font-family: "Indie Flower";
	font-weight: bold;
	font-size: medium;
	border: none;
	border-bottom: 1px solid black;
}
button:hover {
	border-bottom: 1px solid rgb(168, 163, 163);
}
.postcard-header img {
	width: 50px;
	height: 50px;
	padding: 10px;
}
.postcard-header h1 {
	width: 400px;
	margin: auto;
	padding: 10px;
}
input {
	background: none;
	font-family: "Indie Flower";
	border: none;
	border-bottom: 1px solid grey;
	width: 170px;
	padding: 5px;
}
